.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(to bottom right, whitesmoke 10%, #31bcc9);
  
  width: 100vw;
  
  }

@media (max-width: 600px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  }
}