.navbarContainer {
  grid-area: 1 / 1 / 2 / 2;
  height: calc(100vh - 0px);
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(.25turn,#C8C8A9 , #A8A7A7  );
}
.navbarIconContainer {
  padding: 20px;
  display: grid;
  align-items: center;
  
}
.navHome {
  margin-bottom: 20px;
}
.navHouse {
  margin-bottom: 20px;
}
.navDubstep {
  margin-bottom: 20px;
}
.navEvents {
  margin-bottom: 20px;
}

.navbarHr {
  margin: 20px;
}


/* background-color: #1a54; */