
.timelineContainer {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0px 0px 0px 0px;
  overflow-y:scroll; 
  position:relative;
  height: 99vh;
  background:#363636;
  scroll-behavior: smooth;
  font-family: 'Staatliches', cursive;
}

::-webkit-scrollbar {
  display: none;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 40px 0px 40px;
  border-radius: 2px;
  height: 12vh;
  width: 60vh;
  background-color: #bbdcbe ;
}
.timelineName {
  text-align: left;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;

}

.timelineGenre {
  text-align: center;
  margin: 0px 5px 0px 5px;
  font: 15px;
  letter-spacing: 1px;
  max-width: 10px;
}
.linkGenre {
  text-decoration: none;
  list-style: none;
  color: #363636;
  text-align: center;
}
.linkGenre:hover {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
}
.linkGenre:active {
  text-decoration: none;
  list-style: none;
  color: #cff4d2;
}

.timelineStatus {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  margin: 25px 20px 5px 10px;
  padding: 10px 0px 0px 10px;
  height: 60px;
  width: 80vh;
  background-color: whitesmoke;
  letter-spacing: 1px;
  font-size: 12px;
  justify-content: center;
}



@media (max-width: 1200px) {
  .cardContainer {
    height: 8vh;
    width: 30vh;
    background-color: #bbdcbe ;
  }
  .timelineName {
    font-size: 20px;
  }  
  .timelineGenre {
    font: 10px;
  }
  .timelineStatus {
    margin: 15px 10px 5px 20px;
    padding: 0px 0px 0px 10px;
    height: 40px;
    width: 80vh;
    
  }
}
@media (max-height: 700px) {
  .timelineStatus {
    margin: 10px 10px 5px 20px;
    padding: 0px 0px 0px 10px;
    height: 35px;
    width: 80vh;
    
  }
}