
.postComponent {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0px 0px 0px 0px;
  height: 20vh;
  font-family: 'Staatliches', cursive;
}

.postForm {
  margin: 15px 40px 0px 40px;
  height: 20vh;
  width: 60vh;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3)
}
.postContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  height: 5vh;
  max-width: calc(60vh - 0px);
  
}
.statusContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  max-width: calc(60vh - 0px);
  
}


.postName {
  border-radius: 5px;
  float: left;
  margin: 0px 0px 0px 10px;
  height: 2vh;
  background-color: whitesmoke;

}

.postGenre {
  border-radius: 5px;
  float: left;
  margin: 0px 0px 5px 10px;
  height: 3vh;
  background-color: whitesmoke;

}

.postStatus {
  border-radius: 5px;
  margin: 0px 25px 0px 25px;
  padding: 0px 10px 0px 10px;
  height: 7vh;
  width: 52.3vh;
  background-color: whitesmoke;
}

input {
  border: 2px ;
  box-shadow: 0px 0px 0px 1px whitesmoke(0,0,0,0.3);
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.shareButton {
  width: 6vh;
  height: 3vh;
  margin: 10px 5px 5px 5px;
  background-color: whitesmoke;
  border: none;
  transition-duration: 0.4s;
  font-family: 'Staatliches', cursive;
  color: #363636;
}
.shareButton:hover {
  background-color: #31bcc9; 
  color: #363636;
}

@media (max-width: 400px) {
  .postComponent {
    height: 15vh;
    font-family: 'Staatliches', cursive;
  }
  .postForm {
    margin: 15px 5px 0px 0px;
    height: 15vh;
    width: 25vh;
    background-color: whitesmoke ;
  }
  .postContainer {
    height: 2vh;
    width: 30vh;
  }
  .postName {
    margin: -10px 0px 0px 5px;
    height: 2vh;
    width: 5vh;
    font-size: 10px;
  }
  .postStatus {
    
    height: 6vh;
    width: 15vh;
  }
  .shareButton {
    width: 6vh;
    height: 2vh;
    font-size: 10px;

  }
}
