
.postContainer {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0px 0px 0px 0px;
  /* position:relative; */
  height: calc(20vh - 0px);
  font-family: 'Staatliches', cursive;
}

.postForm {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 0px 0px;
  border-radius: 2px;
  height: 20vh;
  max-width: calc(60vh - 0px);
  background-color: #bbdcbe ;
}


.postName {
  float: left;
  margin: 5px 0px 0px 10px;
  height: 5vh;
}

.postGenre {
  float: left;
  margin: 5px 0px 5px 10px;
  height: 5vh;
}

.postStatus {
  border: 2px ;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  margin: 5px 25px 10px 25px;
  padding: 0px 0px 0px 10px;
  height: 45px;
  width: 50vh;
  flex-direction: column;
}

input {
  border: 2px ;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}

.shareButton {
  float: right;
  margin-right: 5px;
  background-color: white;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}
.shareButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}