.pollContainer {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.voteText {
  margin: 20px 0px 0px 0px;
  font-size: 40px;
  color: #ee008e;
} 

.pollCount {
  margin: 20px 0px 0px 0px;
  font-size: 40px;
  color: #bbdcbe;
} 

.dubstepCount {
  display: flex;
  flex-direction: row;

}
.dubstepButton {
  display: flex;
  flex-direction: row;
}
.houseCount {
  display: flex;
  flex-direction: row;

}
.houseButton {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .voteText {
    font-size: 20px;
  }
  .pollCount {
    font-size: 20px;
  }
}