.pollContainer {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.voteText {
  margin: 20px 0px 0px 0px;
  font-size: 25px;
  color: whitesmoke;
} 

.pollCount {
  margin: 20px 0px 0px 0px;
  font-size: 40px;
  color: whitesmoke;
} 

.dubstepCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dubstepButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.houseCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.houseButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
Button {
  width: 6vh;
  height: 3vh;
  background-color: #bbdcbe;
  border: none;
  transition-duration: 0.4s;
  font-family: 'Staatliches', cursive;
  color: #363636;
  
}


button:hover {
  background-color: whitesmoke; 
  color: #363636;
}



@media (max-width: 600px) {
  .voteText {
    font-size: 20px;
  }
  .pollCount {
    font-size: 20px;
  }
}